p {font-family:"Comic Sans MS";}
p.pos_fixed {
		position: relative;
		left: 5px;
		color: red;

}
body {
	background-color: #605a39;
	font-family: "Arial Black", Helvetica, sans-serif;
	color: black;
}

#moshitime {
	font-family:"Impact";
align:"center";
font-size: 130;
color: #000000;
padding-bottom: 0px;
}
#temperatureDisplay {
	visibility:hidden;
	font-family:"Impact";
align:"center";
font-size: 130;
color: #000000;
padding-bottom: 0px;
}

#ampm {
	font-family:"Arial";

font-size: 28;
color: #000000;
padding-bottom: 0px;
}

#popupcontent{
	visibility: hidden;
	overflow: hidden;
	background-color:#008000;
	border: none;
}
#setalarmmenu{
	position: relative;
	visibility: hidden;
	overflow: visible;
	background-color:#800000;
	border: none;
}
#moshidate {
	font-family:"Arial";
	visibility: hidden;
	overflow: hidden;
	background-color: none;
	border: none;
}

#AlarmMenu {
	font-family:"Arial";
	position: static;
	top:-800px;
	visibility: hidden;
	overflow: hidden;
	background-color: none;
	border: none;
}
#sleepsoundMenu {
	font-family:"Arial";
	position: static;
	top:-400px;
	visibility: hidden;
	overflow: hidden;
	background-color: none;
	border: none;
}
#weatherwidget {
	font-family:"Arial";
	position: relative;
	top:-200px;
	visibility: hidden;
	overflow: hidden;
	background-color: none;
	border: none;
}

#lightswitch {
position: fixed;
top:0;
right:0;
}

#ampmDisplay {
	font-family:"Arial";
	font-size:28;
	color:#000000;
}
#timeDisplay {
	font-family:"Impact";
	font-size:130;
	color:#000000;
}
#alarmIcon {
	visibility:hidden;
}
#clockDisplay {
	visibility:hidden;
}
#currentDisplay {
	visibility:visible;
	font-family:"Impact";
align:"center";
font-size: 130;
color: #000000;
padding-bottom: 0px;
}
#dateText {
	font-family:"Impact";
	font-size:130;
	color:#000000;
}
#dateDisplay {
	visibility:hidden;
}
#weatherwidget {
	visibility:hidden;
}
#temperatureDisplay {
	position: relative;
	font-family:"Impact";
align:"center";
font-size: 130;
color: #000000;
padding-bottom: 0px;
}

.daysDisplay {
 font-family:"Comic Sans MS";
 font-size:12;
 color:#000000;
}

p.pos_fixed {
	font-family:"Arial Black";
	font-size: 14;
	color: black;
	position: fixed;
}
a:link {
		color: #FF0000;
}

a:visited {
		color: #88FFFF;
}

a:hover {
		color: #C0FF00;
}
table {
	border: none;
}
