p {font-family:"Comic Sans MS";}
p.pos_fixed {
		position: relative;
		left: 5px;
		color: red;

}
body {
	background-color: #605a39;
	font-family: "Arial Black", Helvetica, sans-serif;
	color: black;
}

#moshitime {
	font-family:"Impact";
align:"center";
font-size: 130;
color: #000000;
padding-bottom: 0px;
}


#ampm {
	font-family:"Arial";
position: relative;
left:-189px;
top:139px;
font-size: 28;
color: #000000;
padding-bottom: 0px;
}

#popupcontent{
	visibility: hidden;
	overflow: hidden;
	background-color:#05dff8;
	border: none;
}

#moshidate {
	font-family:"Arial";
	position: static;
	top:-200px;
	visibility: hidden;
	overflow: hidden;
	background-color: none;
	border: none;
}
p.pos_fixed {
	font-family:"Arial";
	position: fixed;
	top: 136px;
	right:-298px;
}
a:link {
		color: #00FFFF;
}

a:visited {
		color: #00FF00;
}

a:hover {
		color: #FF00FF;
}
table {
	border: none;
}
